<<<<<<< HEAD
[defaults]
inventory = inventory
remote_user = ubuntu 
private_key_file = /home/ubuntu/.ssh/ec2-key-pair.pem

[privilege_escalation]
become = yes

=======
<<<<<<< HEAD
[defaults]
inventory = inventory
remote_user = ubuntu 
private_key_file = /home/cosoria/.ssh/aws_ec2_key.pem

[privilege_escalation]
become = yes

=======
[defaults]
inventory = inventory
remote_user = ubuntu 
private_key_file = /home/cosoria/.ssh/aws_ec2_key.pem

[privilege_escalation]
become = yes

>>>>>>> 3bc210537cab7cc05cef2631c6c4120acab968ad
>>>>>>> 0c09a2806dd544d8bfd5ef87fdf57a1b44587094
